
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: "Poppins", serif;
font-weight: 100;
font-style: normal;
*/
body {
    font-family: "Poppins", serif;
    font-style: normal;
}
h1, h2, h3, h4 {
    font-family: "Poppins", serif;
    font-style: normal;
}
p {
    font-family: "Poppins", serif;
    font-style: normal;
}
a {
    font-family: "Poppins", serif;
    font-style: normal;
}

/* WEIGHT*/
body {
    font-weight: 700;
}
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 700;
}
h4 {
    font-weight: 700;
}
p {
    font-weight: 400;
}
a {
    font-weight: 400;
}

/* SIZE */
body {
    font-size: 1.5rem;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: .875rem;
}
h3 {
    font-size: .75rem;
}
h4 {
    font-size: .625rem;
}
p {
    font-size: .5rem;
}
a {
    font-size: .5rem;
}

/* LINE HEIGHT */
body {
    line-height: 2rem;
} 
h1 {
    line-height: 1rem;
} 
h2 {
    line-height: 1rem;
} 
h3 {
    line-height: 1rem;
} 
h4 {
    line-height: 1rem;
} 
p {
    line-height: 1rem;
} 
a {
    line-height: .75rem;
} 
