.footer__nav {
    padding: 1.125rem 13.33%;
}
.footer__links {
    display: flex;
    justify-content: space-between;
}

.footer__link a i {
    max-width: 1.5rem;
    width: 100%;
}

.footer__link i {
    max-width: 1.5rem;
    width: 100%;
}