header {
    height: 80%;
}

.header__nav {
    position: relative;
    width: 100%;
    height: 100%;
}

.header__trailer {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.header__trailer iframe {
    position: absolute;
    top:50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    border: none;
    object-fit: cover;
}

.header__div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6.4%;
    padding-right: 6.4%;
    padding-top: 3.875rem;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header__div i {
    font-size: 1rem;
}